{% extends 'base.html.twig' %}

{% block main %}

    <div class="container-fluid div2">
        <div class="row" style="  margin-top: 70px;">
            <div class="col-md-3 col-sm-4 col-xs-12"style="padding-left: 0; padding-right:0px;">
                <div id="mySidebar" class="sidebar" style="  margin-top: 70px;">
                    <a href="javascript:void(0)" class="closebtn" style="padding: 9px;
margin-left: 0;" onclick="closeNav()">&times;</a>
                    {% for category in category %}
                    <a href="{{ path('group_food_view',{id: category.id}) }}" onclick="closeNav()">{{ category.category }}</a>
                    {% endfor %}
                </div>

                <div id="main">
                    <button style=" " class="openbtn" id="btn1" onclick="openNav()">&#9776; Категории</button>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 slider-text	" style="padding:0;">
                <div class="slide-text" style="">
                    <marquee behavior="scroll" direction="left" style="">
                        <span style="">БЕЗПЛАТНО мелене на семена в мелница с каменни дискове</span>
                        <span style="">БЕЗПЛАТНА доставка при поръчка над 50лв.</span>
                    </marquee>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid div1" id="col1">
        <div class="row">

{% for product in products %}

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <article class="card-wrapper">
                    <div class="image-holder">
                        <a href="{{ path('view_oneProduct',{id:product.id}) }}" class="image-holder__link"></a>
                        <div class="image-liquid image-holder--original" style="background-image:url({{ asset('uploads/images/products/') ~ product.image}})">
                        </div>
                    </div>
                    <div class="product-description">
                        <!-- title -->
                        <h1 class="product-description__title">
                            <a href="#">
                                {{ product.name }}
                            </a>
                        </h1>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 product-description__category secondary-text" id="des">
                            Производител:{{ product.maker }}
                            </div>
                            <div class="col-xs-12 col-sm-4 product-description__price">
                                {{ product.price }}лв.
                            </div>
                        </div>


                        <hr />

                        <div class="color-wrapper">
                            <a href="{{ path('view_oneProduct',{id:product.id}) }}" class="btn openmodal" style="background-color:rgba(255, 99, 71,1);color:white" onclick=""><b>Детайли</b></a>

                            {#<span>Количество#}{#</span> <select name="appbundle_shoppingcart[quantity]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                             </select>#}

                            <br />

                            <span>{{ product.description }}</span>

                        </div>
                    </div>
                </article>
            </div>




{% endfor %}

            <div class="navigation text-center">
                {{ knp_pagination_render(products) }}
            </div>

    <script>

        new WOW().init();
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("btn1").style.visibility = "hidden";
            document.getElementById("col1").style.marginLeft = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("btn1").style.visibility = "visible";
            document.getElementById("col1").style.marginLeft = "0";
        }

    </script>

{% endblock %}

