
{% extends 'base.html.twig' %}
{% block main %}
    <div class="container" style="background-color: whitesmoke;margin-top: 70px;">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">{{ product.name }}

        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="{{ asset('uploads/images/products/') ~ product.image}}" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Описание:</h3>
                <p style="color: #0d0d0d">{{ product.description }}</p>
            </div>
            <div class="col-md-4">
                <form action="{{ path('add_cart', {'id':product.id}) }}"method="post">
                    <span>Количество</span> <select name="appbundle_shoppingcart[quantity]">
                               <option value=1>1</option>
                               <option value=2>2</option>
                               <option value=3>3</option>
                               <option value=4>4</option>
                               <option value=5>5</option>
                            </select>

                    <button type="submit" class="btn btn-success">Добави</button>
                </form>

            </div>



        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">Най-продавани</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <article class="card-wrapper">
                    <div class="image-holder">
                        <a href="{{ path('add_cart',{id:product.id}) }}" class="image-holder__link"></a>
                        <div class="image-liquid image-holder--original" style="background-image:url({{ asset('uploads/images/products/') ~ product.image}})">
                        </div>
                    </div>
                    <div class="product-description">
                        <!-- title -->
                        <h1 class="product-description__title">
                            <a href="#">
                                {{ product.name }}
                            </a>
                        </h1>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 product-description__category secondary-text" id="des">
                                Производител:{{ product.maker }}
                            </div>
                            <div class="col-xs-12 col-sm-4 product-description__price">
                                {{ product.price }}лв.
                            </div>
                        </div>


                        <hr />

                        <div class="color-wrapper">
                            <a href="{{ path('view_oneProduct',{id:product.id}) }}" class="btn openmodal" style="background-color:rgba(255, 99, 71,1);color:white" onclick=""><b>Детайли</b></a>

                            {#<span>Количество#}{#</span> <select name="appbundle_shoppingcart[quantity]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                             </select>#}

                            <br />

                            <span>{{ product.description }}</span>

                        </div>
                    </div>
                </article>
            </div>


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}