{% extends 'base.html.twig' %}

{% block main %}
    {#<div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h3 class="text-center">MY CART</h3>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Model</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart in carts %}
                                    <tr>
                                        <td><img src="{{ cart.product.image }}" alt="product" width="40px" height="40px"></td>
                                        <td>{{ cart.product.name }}</td>
                                        <td>{{ cart.product.price }}</td>
                                        <td>
                                            <div class="form-group">
                                                <select id="quantity_id" class="form-control">
                                                    <option value="1">1</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="button-group">

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="float-right mt-4 text-right">
                            <h3>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="text-right">
                            <form action="" method="post">
                                <a href="" class="btn btn-primary">Cancel</a>
                                <button type="submit" class="btn btn-danger">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
#}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover" style="background-color: rgba(255,255,255,0.7)">
                    <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Количество</th>
                        <th class="text-center">Цена</th>
                        <th class="text-center">Тотал</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                    <tr>
                        <td class="col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ asset('uploads/images/products/') ~ cart.product.image}}" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ cart.product.name }}</a></h4>
                                    <h5 class="media-heading"> производител <a href="#">{{ cart.product.maker }}</a></h5>

                                </div>
                            </div></td>
                        <td class="col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="2">
                        </td>
                        <td class="col-md-1 text-center"><strong>{{ cart.product.price }}</strong></td>
                        <td class="col-md-1 text-center"><strong>$9.98</strong></td>
                        <td class="col-md-1">
                        <a href="{#{{ path('remove_from_cart',{id:cart.product.id}) }}#}" class="btn btn-danger" disabled>Премахни</a>
                        </td>

                    </tr>
                    {% endfor %}

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Общо:</h3></td>
                        <td class="text-right"><h3><strong>{{ total }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        {#<td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button></td>#}
                        <td>
                            <a href="{{ path('delivery_address') }}" style="background-color: orange;color:black;" class="btn" >
                                Завърши
                            <a/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}