
<style>
    .custab{
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }
    .custab:hover{
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;

    }

</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
            </thead>
            {% for cart in products%}
            <tr>
                <td>{{ cart.product.name }}</td>
                <td>{{ cart.product.price }}</td>

                <td>-</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


<div class="container" style="">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>Име</th>
                <th>Имейл</th>
                <th>Телефон</th>
                <th>Град</th>
                <th>Офис</th>
            </tr>
            </thead>

                <tr>
                    <td>{{ products[0].user.firstName }}  {{ products[0].user.lastName }}</td>
                    <td>{{ products[0].user.email }}</td>
                    <td>{{ products[0].address.GSM }}</td>
                    <td>{{ products[0].address.city }}</td>
                    <td>{{ products[0].address.address }}</td>
                </tr>

        </table>
        <a href="{{ path('sent_order',{id:products[0].user.id}) }}" class="btn-success btn">Изпълнена</a>